

/* Main Container  */
.mainContainer {
    position: relative;
}


/* Image container  */
.imagesContainer {
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
    overflow: hidden;
    /* position: relative; */
}


/* Arrows  */
.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    margin-left: 25px;
}


.rightArrow {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 50px;
    transform: translate(0, -50%);
    font-weight: 700;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    margin-right: 25px;
}

.leftArrow:Active , .rightArrow:active {
    color: #ffea2a;
}


.image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fits inside the container without distortion */
    transition: opacity 0.2s ease-in-out; /* Smooth transition for opacity */
    opacity: 1;
}

